# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
# Project-specific requirements: add the Databricks provider and pandas; remove unused packages.
apache-airflow-providers-databricks
pandas
